.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search h1 {
  color: var(--color-secondary);
}

.search input {
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
}
