.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry h1 {
  color: var(--color-secondary);
}

.entry table {
  width: 100%;
  max-width: 600px;
}

.entry table tr {
  display: flex;
  justify-content: space-between;
}

.types {
  margin-bottom: 20px;
}

.otherSprites {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  transform: translateY(-80vh);
}
.otherSprites[data-visible="true"] {
  height: auto;
  overflow: unset;
  transform: translateY(0);
}

.entry button {
  cursor: pointer;
  min-width: 96px;
}